/*Общие параметры*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Определение шрифта для любого текста*/
p,
a,
li,
th,
td,
label {
    font-family: 'Old Standard TT', serif;
}

.header,
.main,
.footer {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

/*Общее оформление для кнопок*/
.link {
    text-decoration: none;
    color: white;
}

.link:visited {
    color: white;
}

.link_decor {
    text-align: center;
    padding: 5px 5px;
    border: 1pt solid white;
    font-size: 16pt;
}

/*Для header*/
.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(168, 50, 82);
}

.navigation {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    z-index: 99;
    padding: 10px 0;
    background-color: rgb(168, 50, 82);
}

.navigation_item {
    list-style-type: none;
    transition: transform 0.5s ease 0s;
}

.navigation_item:hover {
    transform: scale(1.1);
    padding: 5px 5px;
    box-shadow: 0 0 15px white;
    background-color: white;
}

.navigation_item:hover .link {
    color: rgb(168, 50, 82);
}

.header_content {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header_logo {
    width: 250px;
}

.header_text {
    width: 100%;
    padding-bottom: 20px;
    font-size: 30pt;
    text-align: center;
    color: white;
}

/*Для footer*/
.footer {
    display: flex;
    background-color: rgb(168, 50, 82);
}

.footer_logo {
    width: 150px;
    padding-right: 20px;
}

.footer_text_info {
    text-align: center;
    font-size: 12pt;
    padding-top: 20px;
    color: white;
}

/*Для main*/
.article {
    background-color: white;
}

.article_header {
    text-transform: uppercase;
    text-align: center;
    font-size: 25pt;
    padding: 20px 0;
}

.article_content {
    display: flex;
    flex-wrap: nowrap;
}

.space {
    height: 40px;
    background-color: rgb(168, 50, 82);
}

/*Изображения*/
.article_image {
    padding: 0 0 20px 25px;
    height: 100%;
}

.article_image:hover {
    transform: scale(1.1);
}

.image_main,
.image_art,
.image_artist,
.image_shop,
.image_about {
    transition: all 0.5s ease 0s;
}

.image_main,
.image_art,
.image_shop {
    width: 400px;
}

.image_artist {
    width: 250px;
}

.image_about {
    width: 300px;
}

/*Текст*/
.article_text {
    width: 70%;
    font-size: 18pt;
    padding: 20px 20px 30px 25px;
    margin: 0 auto;
}

.article_text_about {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text_shop {
    width: 70%;
    text-align: center;
}

.link_text {
    margin: 0 auto;
    width: 20%;
    background-color: rgb(168, 50, 82);
    color: white;
    transition: all 0.5s ease 0s;
}

.link_text:hover {
    box-shadow: 0 0 20px rgb(168, 50, 82);

    background-color: #fff;
    color: rgb(168, 50, 82);
}

/*Таблицы*/
.article_table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
}

table {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border: 3px solid rgb(168, 50, 82);
}

th,
td {
    font-size: 15pt;
    border: 2pt solid rgb(168, 50, 82);
    text-align: center;
}

.table_shop {
    width: 50%;
}

/*Слайдеры*/
.slider {
    overflow: hidden;
    width: 300px;
    margin-left: 10px;
    border: 1px solid rgba(168, 50, 82, 0);
}

.slider_elements {
    width: 100%;
    display: flex;
    position: relative;
    left: 0px;
    transition: left 1s ease 0s;
}

.slider_image {
    width: 300px;
}

/*Кнопка с выпадающим текстом*/
.checker {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.read_more {
    opacity: 0;
    position: absolute;
}

.read_more:checked~.article_information {
    max-height: none;
}

.read_more:checked .hidden_part {
    opacity: 0;
    transition: 0.3s;
}

.read_more~.button_read_more::after {
    content: 'Показать';
}

.read_more:checked~.button_read_more::after {
    content: 'Скрыть';
}

.hidden_part {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
    width: 100%;
    margin-left: 20px;
    height: 60px;
    opacity: 1;
    transition: 0.3s;
}

.article_information {
    max-height: 100px;
    overflow: hidden;
    position: relative;
}

.button_read_more {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(168, 50, 82);
    transition: 0.3s;
}

.button_read_more:hover {
    transform: scale(1.1);
    color: rgb(168, 50, 82);
    background-color: white;
    box-shadow: 0 0 15px rgb(168, 50, 82);
}

/*Адаптивность*/
@media (max-width: 1014px) {
    .article_content {
        justify-content: center;
        flex-wrap: wrap;
    }

    .article_image {
        padding-left: 0;
    }

    .article_text {
        width: 80%;
    }

    .article_table {
        width: 100%;
    }

    .slider {
        margin-left: 0;
    }

    .checker {
        width: 100%;
    }
}

@media (max-width: 770px) {
    .link_decor {
        font-size: 14pt;
    }

    .header_logo {
        width: 200px;
    }

    .header_text {
        font-size: 23pt;
    }

    .article_header {
        font-size: 20pt;
    }

    .space {
        height: 30px;
    }

    .image_main,
    .image_art,
    .image_shop {
        width: 300px;
    }

    .article_text {
        font-size: 15pt;
    }

    .article_text_about {
        width: 80%;
    }

    table {
        width: 55%;
    }

    th,
    td {
        font-size: 11pt;
    }

    .slider {
        width: 200px;
    }

    .slider_image {
        width: 200px;
    }
}

@media (max-width: 630px) {
    .link_decor {
        font-size: 12pt;
    }

    .header_logo {
        width: 150px;
    }

    .header_text {
        font-size: 20pt;
    }

    .footer_logo {
        width: 100px;
        height: 100%;
    }

    .footer_text_info {
        font-size: 9pt;
        padding-top: 10px;
    }

    .article_header {
        font-size: 15pt;
    }

    .space {
        height: 25px;
    }

    .article_image {
        padding-left: 0;
    }

    .image_main,
    .image_art,
    .image_shop {
        width: 250px;
    }

    .image_artist,
    .image_about {
        width: 200px;
    }

    .article_text {
        font-size: 12pt;
    }

    .article_text:not(:first-child) {
        padding-top: 10px;
    }

    th,
    td {
        font-size: 9pt;
    }
}

@media (max-width: 430px) {
    .link_decor {
        font-size: 9pt;
    }

    .header_text {
        font-size: 18pt;
    }

    .image_artist,
    .image_shop {
        width: 150px;
    }

    .article_text {
        font-size: 11pt;
    }

    .article_text_about {
        width: 95%;
    }

    table {
        width: 60%;
    }
}